/*
	Topics:
		Cascading Style Sheet
		How to incorpotate CSS to our Project
		Commonly used CSS properties
		CSS Combinators

	Cascading Style Sheet (CSS)
		- a styles sheet language used to describe the presentational semantics of a document written in HTML

	Cascade
		- process whereby something, typically information or knowledge is successsively passed on

	A CSS rule-set consists of a selector and declaration box:
		ex.
			h1 { property: value; }
				- h1  selector
					- the selector points to the HTML element you want to style
				- { property: value; } declaration
					- the declaration block contains one or more declarations separated by semicolon;
					ex: {color:blue; font-size: 12px;}

	How to Incorporate CSS to our project:
		- Inline styling
		- Internal styling
		- External styling

	CSS Selectors
		1. Universal Selectors
			- matches elements of any type
			- *
		2. Type Selectors
			- matches elements with specified tag name on the page
			ex. h1, nav, p, body
		3. Class Selectors
			- matches elements that have a class attribute with the value specified
			- .
		4. ID Selectors
			- matches all elements that have an ID attribute with the value specified
			- #
	Specificity Rule 
		- score/rank
			type selector = 1
			class selector = 10
			id selector = 100
			inline = 1000


	Combinators
		- combinator is something that explain the relationship between selectors

		Four Combinators
			- Adjacent sibling (+)
			- General sibling (~)
			- Child selector (>)
			- Descendant selector (whitespace)
 */
/*Universal Selectors*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	/*background-color: red;*/
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}

/*Type Selector*/
html {
	scroll-behavior: smooth;
}
nav {
	background-color: white;
	margin-bottom: 30px;
	padding: 30px;

}
body {
	background-color: skyblue;	
	margin: 30px;
	padding: 10px;
}
a { 
	font-size: 20px;
	margin: 20px;
}
div {
	/*list-style-type: none; */
	padding-left: 20px;
	display: inline-block;
	font-size: 20px;
	/*float: right;*/
}

article {
	background-color: purple;
	margin-bottom: 10px;
	padding: 10px;
}

/*class selectors*/
.class-selector-article {
	background-color: blue;
}

.text-white {
	color: white;
}

/*.nav-item {
	set li as inline element
	display: inline;
	float: right;
}*/

/*id selectors*/
#id-selection-article {
	background-color: green;
}

/*selector:hover - psuedo class
	- change the style of the element when hovered over
*/
a:hover {
	background-color: #b4d6de;
}

/*adjacent sibling selector*/
/* selector + selector*/
h1 + article {
	color: orange;
}

/*general sibling
	- select all sibling that of the first selector that matches the second selector
	- selector ~ selector
*/

h1 ~ article {
	border: 5px solid black;
}

/*child selector*/
/*parent > child*/

#parent > .child {
	background-color: gray;
}

/*Descendant Selector*/
#parent .child {
	border: 10px solid yellow;
	color: blue;
}
#parent > .child{
	letter-spacing:30px;
}