*{
    font-family: verdana, sans-serif;
    font-size: 20px;
}

.external-styling{
    color: yellow;
}

h1{ 
    font-size: 3rem;
}
#upperCase{
    text-transform: upperCase;
}
.change-color{
    background-color: lightgreen;
}
li[class~="border-change"]{
    border:2px solid blue ;
}
img + ul {
    list-style-type: none;
}
#parent .child-pic{
    width: 20vh;
    height: 20vh;
    border-radius:150px
}
ul ~ p{
    text-align: center;
}
body > section{
    letter-spacing:10px
}